<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="header-wrapper">
        <div class="container">
            <div class="header">
                <img src="../static/img/humberger_menu.png" class="menu-icon"/>
                <div  class="header-title">
                    <a href="#">タイトル</a>
                </div>
                <div class="logout">
                    <a href="/logout/">ログアウト</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="input">
                <form method="post" class="input-form" action="/">
                    <textarea type="text" class="input-area" name="text" id="text" placeholder="入力">{{text}}</textarea>
                    <div class="model-config">
                        <p>言語(language)</p>
                        <label><input type="radio" name="lang" checked>日本語</label>
                        <label><input type="radio" name="lang">English</label>
                    </div>
                    <div class="model-config">
                        <p>モデル(model)</p>
                        <label><input type="radio" name="model_name" checked>BERT</label>
                        <label><input type="radio" name="model_name">その他</label>
                    </div>
                    <div class="buttons">
                        <button name="action" value="clear" type="button" class="clear-button">クリア</button>
                        <input type="submit" value="変換" class="submit-btn">
                    </div>
                </form>
            </div>
            <div class="output-area">
                {{result}}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>